@{
    ViewData["Title"] = "Home Page";
}

<h2>项目简介</h2>
<p class="lead" style="margin-top:30px;">
    将C#代码脚本化的，本Demo主要展示了如何使用Roslyn强力支持脚本化编程（C#）
    <br />
    <br />
    本文将采用一个灵活控制mvc控制器输出到页面的内容的脚本来作为实例
    <br />
    <br />
    作为Demo，脚本的存储以文本文件的形式存储，如果真实投入使用，可以采用数据库等方式持久化！
    <br />
    <br />
    项目源代码地址：<a href="https://github.com/sevenTiny/Demo.CSharpScript" target="_blank">https://github.com/sevenTiny/Demo.CSharpScript</a>
    <hr />
    <span style="color:red;font-weight:bold;font-size:larger">
        操作很简单，通过标题栏按钮进入Demo，直接编辑脚本保存即可（获取数据可使用url加参数name以测试before脚本,例如：/Demo/GetData?name=1）
        <br />
        <br />
        小提示：可以在菜单栏的帮助脚本里面写好再粘贴过去测试（有代码提示功能）！
    </span>
</p>
